{% set currentUrl = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'ajax': 1})) %}

{% extends 'base.html.twig' %}

{% block title %}Manage Clients{% endblock %}

{% block body %}
    <div class="container"
            {{ stimulus_controller('reload-content', { url: currentUrl }) }}
            data-action="modal-form:success->reload-content#refreshContent"
    >
        <header class="border-bottom pb-4 mb-5">
            <div class="row align-items-center">
                <div class="col-12 col-md-8">
                    <h1 class="mb-2">Manage External Clients</h1>
                    <p class="lead text-muted mb-0">&nbsp;</p>
                </div>
            </div>
        </header>

        <div class="row flex-xl-nowrap mt-5">
            <main class="col ms-4" data-reload-content-target="content">
                {{ include('internal/client/_list.html.twig') }}
            </main>
        </div>
    </div>
{% endblock %}
