<div class="flex-xl-nowrap mt-5">
    <div class="row">
        <h3>Internal Staff Invitations</h3>

        <div class="ms-4" {{ stimulus_controller('modal-form', {hideFullPageOpenButton: true}) }}>
            <button class="btn btn-primary btn-sm fw-semibold py-2 mb-3"
                    data-action="modal-form#open"
                    data-form-url="{{ path('internal_staff_invite') }}"
                    data-modal-title="Invite Staff Member"
            >
                <span class="bi bi-person-plus me-2"></span> Send New Invitation to an Internal Staff Member
            </button>

            {{ include('_modal.html.twig', { modalTitle: 'Invite Internal Staff Member' }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 col-xl-8" data-reload-content-target="content">
            {{ include('internal/staff/_invitation_list.html.twig') }}
        </div>
    </div>
</div>
