<table class="table table-prices">
    <thead>
    <tr>
        <th></th>
        <th>Free</th>
        <th>Basic</th>
        <th>Pro</th>
        <th>Enterprise</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Monthly cost</th>
        <td>Free for 3 months</td>
        <td>$9</td>
        <td>$29</td>
        <td>$49</td>
    </tr>
    <tr>
        <th>Storage size limits</th>
        <td>1 GB</td>
        <td>10 GB</td>
        <td>100 GB</td>
        <td>1 TB</td>
    </tr>
    <tr>
        <th>Max number of files</th>
        <td>100</td>
        <td>1,000</td>
        <td>5,000</td>
        <td>Unlimited</td>
    </tr>
    </tbody>
</table>
