{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="flex-row">
            <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
                <h1>File Upload</h1>

                <p class="mt-4">File upload is possible by responding to a "drop request" that get sent by a
                    requesting party. If you are expecting a drop request, please contact the office
                    of the person that will send the request.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
