{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Welcome</h1>
    <div class="row">
        <div class="larger">
            <ul>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
