{% extends 'emails/email_base.html.twig' %}

{% block content %}
    <h2>You've Been Invited!</h2>

    <p>You have been invited to join FileDrop Pro.</p>

    <p>Please click the button below to activate your account and set up your secure workspace.</p>

    <center>
        <button href="{{ registrationUrl }}" class="button">Activate My Account</button>
    </center>

    <p class="secondary-text">
        If you cannot click the button above, copy and paste this link into your browser:<br>
        {{ registrationUrl }}
    </p>
{% endblock %}
