<div>
    Dear {{ user.name }},
    <br>
    <br>

    Click
    <a href="{{ url('user_reset_password', {
        'id': user.id,
        'hash': hash
    }) }}">here</a>
    to reset your Oncology Support password.
    <br>
    <br>

    You may need to copy and paste the link below into the address bar of a web browser if you cannot click the activation link.
    <br>

    <a href="{{ url('user_reset_password', {
        'id': user.id,
        'hash': hash
    }) }}">{{ url('user_reset_password', {
            'id': user.id,
            'hash': hash
        }) }}</a>
    <br>
    <br>
    <br>
</div>
