{% for msg in app.flashes('info') %}
    <div class="alert alert-info">
        {{ msg|raw }}
    </div>
{% endfor %}
{% for msg in app.flashes('success') %}
    <div class="alert alert-success">
        {{ msg|raw }}
    </div>
{% endfor %}
{% for msg in app.flashes('danger') %}
    <div class="alert alert-danger">
        {{ msg|raw }}
    </div>
{% endfor %}
