{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Password Reset Failed.</h1>

                Please verify the link, or contact your administrator.
            </div>
        </div>
    </div>
{% endblock %}