{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>Reset Password</h2>
                <div>
                    Provide your email address to request a password reset link to be sent to you.
                </div>

                {{ form_start(form) }}
                    {{ form_row(form._email) }}

                    <button type="submit" class="btn btn-success" formnovalidate>Request password reset link</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
